body {
    font-family: Arial, sans-serif;
    margin: 10px;
    width: 400px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ratio-selector {
    margin-bottom: 10px;
}

.image-container {
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
}

.controls button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.controls a {
    display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}